.fondo_encabezado{
	height: 400px;
  color: white;
  background-image: url("imgs/Encabezado-principal.jpg"); 
  background-size:cover;   
  background-position: center;
  background-color: rgba(0,0,0,0); 
  background-blend-mode:darken;
}
.fuente-encabezados{
  font-family: 'EB Garamond', serif;
  font-size:75px;
}
.fondo_pie_página{
	height: 200px;
	color: black;
  background-size:cover;  
  background-position: center; 
  background-color: rgba(0,0,0,0.1); 
  background-blend-mode:darken;

}
.fondo_tarjetas{
	height: 200px;
  	color: white;
  	background-image: url("imgs/Encabezado-principal.jpg"); 
  	background-size:cover;   
  	background-position: top;
  	background-color: rgba(0,0,0,0); 
  	background-blend-mode:darken;
}
.fondo_tarjeta3{
	height: 200px;
  	color: white;
  	background-image: url("imgs/Encabezado-principal.jpg"); 
  	background-size:cover;   
  	background-position: center;
  	background-color: rgba(0,0,0,0); 
  	background-blend-mode:darken;
}
.card{
  border: 0 !important; /*Es para quitar el borde de las tarjetas*/
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06); /*Para crear una sombra en el fondo de la tarjeta*/
}
.ImagenesProductos1{
  height: 200px;
  width: 300px;
}
.ImagenesProductos2{
  height: 300px;
  width: 250px;
}
.fondo-destacados{
  height: 439px;
  background-image: url("imgs/destacados1.jpg");
  background-size:cover;   
  background-position: center;
}
.letras-destacados{
  color:white;
  background-color: rgba(0,0,0,0.7);
}